body{
  height: 100%;
  width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 20px 20px; /* Adjust padding for better responsiveness */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 51px;
  }
  
  #navbar {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 15px; /* Adjust padding for better responsiveness */
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 600;
    color: #000000;
    transition: 0.3s ease-in-out;
  }
  
  #navbar li a:hover,
  #navbar li a:active {
    color: #e1e773;
  }
  
  #navbar li a:hover::after,
  #navbar li a:active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #c8df31;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  #mobile {
    display: none;
  }
  
  #mobile i {
    color: #fff;
    align-items: center;
  }
  
  /* Media Queries */
  @media screen and (max-width: 1024px) {
    /* Adjust the max-width based on your desired breakpoint */
    #navbar {
      display: none; /* Hide the navigation links on larger screens */
    }
    
    #mobile {
      display: block; /* Show the mobile menu icon on smaller screens */
    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 768px) {
    /* Adjust the max-width based on your desired breakpoint */
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 90px;
      right: -100%; /* Change the value to hide/show the mobile menu */
      width: 100%; /* Adjust width to cover the full screen on smaller devices */
      height: 100vh;
      background: #2a3239;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
    }
  
    #navbar.active {
      right: 0px; /* Change the value to show the mobile menu */
    }
  
    #navbar li {
      margin-bottom: 25px; /* Adjust margin for better spacing on smaller screens */
    }
    .y123{
      height: 45rem;
    }
  }
  