/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 7vh;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  align-items: center;
  justify-content: center;
}
.container1{
    margin-top: 5rem;
    margin-left: 10rem;
    border-radius: 15px 15px 15px;
}
.vis1{
  margin-top: 4em;
  margin-left: 10rem;
}
.container1{
  width: 55rem;
  height: 36rem;
  /* background: #fefdfd; */
  border-radius: 26px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container1 .content1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* img{
    margin-top: -1px;
    margin-left: 1rem;
    width: 25rem;
    height: 15rem;
} */
.container1 .content1 .left-side1{
    /* background-image: url("https://assets.wego.com/image/upload/f_auto,fl_lossy,q_auto:low/v202010050/web/install_banner/mobile_app_en.png"); */
  
    width: 50%;
  height: 100%;
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.vino{
    padding-bottom: 4rem !important;
}
.content1 .left-side1::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content1 .left-side1 .details{
  margin: 14px;
  text-align: center;
}
.content1 .left-side1 .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content1 .left-side1 .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.scan1{
  margin-top: -1px;
  /* margin-left: 1rem; */
  width: 25rem;
  height: 15rem;
}
.yoga{
    margin-top: 1rem;
}
.content1 .left-side1 .details .text-one,
.content1 .left-side1 .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container1 .content1 .right-side1{
  width: 70%;
  margin-left: 75px;
}
.content1 .right-side1 .topic-text1{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093
}
.right-side1 .input-box1{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side1 .input-box1 input,
.right-side1 .input-box1 textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side1 .message-box1{
  min-height: 110px;
  background: #F0F1F8;
}
.right-side1 .input-box1 textarea{
  padding-top: 6px;
}
.right-side1 .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side1 .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}


@media (max-width: 950px) {
  .container1{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container1 .content1 .right-side1{
   width: 75%;
   margin-left: 55px;
}

}
@media (max-width: 820px) {
  .container1{
    margin: 40px 0;
    height: 100%;
  }
  .container1 .content1{
    flex-direction: column-reverse;
  }
 .container1 .content1 .left-side1{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container1 .content1 .left-side1::before{
   display: none;
 }
 .container1 .content1 .right-side1{
   width: 100%;
   margin-left: 0;
 }
}