.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container5 {
  margin-left: 7rem;
  margin-right: -3rem;
  margin-top: 4rem;
}
.SRI{
  margin-top:-474 px ;
  margin-bottom:454 px ; 
  text-align:"center";
  color:"white";
  width:1050 px;
}
label {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.srik {
  margin-right: 1rem;
  border-radius: 1px 1px 1px !important;
}

.sublabel {
  color: rgb(113, 49, 49);
  margin: 4px;
  font-size: 11px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0050a0;
  border: none;
  cursor: pointer;
}

input[type="date"] {
  position: relative;
}

input[type="date"]:before {
  content: attr(placeholder);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.65);
  pointer-events: none;
  line-height: 1.5;
  padding: 10px 0.5rem 0 0.5rem;
}

input[type="date"]:focus:before,
input[type="date"]:not([value=""]):before {
  display: none;
}

.custom-bg {
  background-color: #f8f9f7;
  margin-top: -22rem;
  margin-left: 3rem;
  margin-right: 1rem;
  border-radius: 15px;
  box-shadow: 15px 15px 15px
}

/* Media Queries */
@media (max-width: 768px) {
  .container5 {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  input[type="text"],
  input[type="date"] {
    font-size: 12px;
  }
}
